.padding-block-base {
  padding-block: var(--spacing-base);
}

.padding-block-lg {
  padding-block: var(--spacing-lg);
}

.margin-block-base {
  margin-block: var(--spacing-base);
}

.margin-block-lg {
  margin-block: var(--spacing-lg);
}
